version: "2.1"
services:
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Pacific/Auckland
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - /root/dockerapps/configs/deluge:/config
      - /path/to/your/downloads/deluge:/downloads
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8112:8112
      - 6882:6881
      - 6882:6881/udp